# Air tmp dir
tmp/        

# templ txt files
*_templ.txt

# Test data
awesome.db

# Node.js Dependencies
node_modules/

# Tailwind compiled output
static/css/tailwind.css

# OS specific files
.DS_Store
Thumbs.db