<!DOCTYPE html>
<html lang="en">
  <head>
    <script
      src="https://unpkg.com/htmx.org@2.0.4"
      integrity="sha384-HGfztofotfshcF7+8n44JQL2oJmowVChPTg48S+jvZoztPfvwD79OC/LTtG6dMp+"
      crossorigin="anonymous"
    ></script>
    <script>
      function updatePlaceholder() {
        const tasks = document
          .getElementById("tasks")
          .querySelectorAll("li.task");
        console.log(tasks);
        const placeholder = document.getElementById("no-tasks");
        if (tasks.length > 0) {
          placeholder.setAttribute("hidden", true);
        } else {
          placeholder.removeAttribute("hidden");
        }
      }
    </script>
  </head>
  <body
    hx-on::after-request="console.log('body.after-request');"
    hx-on::after-swap="console.log('body.after-swap');"
  >
    <h1>Your Tasks</h1>
    <ul
      id="tasks"
      hx-on::after-request="console.log('after-request'); updatePlaceholder();"
      hx-on::after-swap="console.log('after-swap'); updatePlaceholder();"
    >
      {{ range .todos }}{{ template "task" . }}{{ end }}
      <li id="no-tasks" {{if gt (len .todos) 0}}hidden{{end}}>
        No tasks found
      </li>
    </ul>
    <form
      hx-post="/todos"
      hx-target="#tasks"
      hx-swap="beforeend"
      hx-on::after-request="if(event.detail.successful) this.reset()"
    >
      <input type="text" name="title" placeholder="Task title" />
      <input type="text" name="status" placeholder="Task status" />
      <button type="submit">Save</button>
    </form>
  </body>
</html>
